@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes slideRight {
  from {
    opacity: 0;
    transform: translate(100%);
    transform-origin: right;
  }
  to {
    opacity: 1;
    transform: translate(0%);
    transform-origin: right;
  }
}

@font-face {
  font-family: "ThirstyRough";
  src: url("/assets/fonts/ThirstyRoughBoldOne.otf") format("opentype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "SanMarinoBeach";
  src: url("/assets/fonts/SanMarinoBeach.otf") format("opentype");
  font-weight: bold;
  font-style: normal;
}


.slide-right {
  animation: slideRight 0.3s ease-out forwards;
}

@layer base {
  :root {

    /* Blue */
    --background: 206.5, 69%, 38.3%;

    /* White */
    --foreground: 29.6 2.38% 98.9%;

    /* Cream */
    --cream: 31.6 12.14% 94.05%;

    /* font */
    --nomad-text: 28.67, 8.06%, 20.06%;

    --nomad-text-gray: 34.3, 3.6%, 38.6%;

    --border: 34.3, 3.6%, 76.6%;
  }

  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;

    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;

    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;

    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;

    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;

    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;

    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;

    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 212.7 26.8% 83.9%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-muted;
  }
  h1 {
    @apply p-0 m-0;
  }
}
